In [1]:
import sys, os, pathlib
#setting the path to folder with modules
sys.path.insert(0, str(pathlib.Path(os.getcwd()).parents[1] / 'python'))

In [2]:
#basic imports
import sys, os, copy
import numpy as np
import datetime as dt
import pandas as pd
#import libraries for file checking
from os.path import isfile, join, isdir

#importing json (data are mostly in JSON)
import json

In [3]:
FileAddress_movies ="../../Datasets/tmdb_5000_movies.csv"
FileAddress_credits="../../Datasets/tmdb_5000_credits.csv"

In [41]:
def Load_Datasets(FileAddress_movies,FileAddress_credits):
    ##input: location of files
    ##output: pandas dataframe containing all information on movies and credits
    
    def InputFilesFound(FileAddress):
        ##input:  file location
        ##output: True if file found, False otherwise
        return isfile(FileAddress) and not isdir(FileAddress)
    
    def Transform_LoadJSON(dataframe):
        ##input:  dataframe
        ##output: datafreme which JSON columns transformed     
        #itterating through JSON columns and loading json 
        JSONcolumns = IdentifyJSONcolumns(dataframe)
        for column in JSONcolumns:
            dataframe[column] = dataframe[column].apply(json.loads)
        return dataframe,JSONcolumns
    
    def IdentifyJSONcolumns(dataframe):
        ##input: dataframe 
        ##output: list of columns containing JSON  
        #getting list of collumn names
        columns=list(dataframe)
        JSONcolumns=[]
        #itteration though columns to find those with JSON
        for column in columns:
            try:
                json.loads(dataframe[column][0]) 
            except: continue
            JSONcolumns.append(column)   
        #returning list of columns in which JSON format was found
        return JSONcolumns
    
    def JSONtoKeyList(JSONentry,key):
        
        INNERentries = []
        for InnerEntry in JSONentry:
            INNERentries.append(InnerEntry[key])
        
        if len(INNERentries)>0:
            if key =='gender':
                outcome=''
                for entry in INNERentries:
                    outcome = outcome+str(entry)+','
                outcome=outcome[:len(outcome)-1]      
                return  outcome
            else:
                return  ','.join(INNERentries)
        return ''
        
        
    
    def JSONtoNameList(JSONentry):
        ##input: entry (one line) from JSON one of JSON columns
        ##output: strings of entries separated by commas
        return JSONtoKeyList(JSONentry,'name')
    
    def JSONtoGenderList(JSONentry):
        return JSONtoKeyList(JSONentry,'gender')
        
        
    def Transform_JSONcolumnsDecapsulation(dataframe):
        ##input: dataframe
        ##output: dataframe which JSON columns decapsulated
        
        def GetJSONkeys(JSONunit):
            ##input: JSON data unit
            ##output: List of keys in the JSON dictionary
            JSONkeys=[]
            for key in JSONunit:
                JSONkeys.append(key)
            return JSONkeys   
    
   
        def Accesor(bucket, locator):
            ##input: values to be read safely, index value in list
            ##output: value (if exists), otherwise nan
            try:
                return bucket[locator]
            except IndexError or KeyError:
                return pd.np.nan
           
        #allowing for changes of passed datased
        dataframe.is_copy = False 
        #reading JSON format and columns
        dataframe,JSONcolumns = Transform_LoadJSON(dataframe)
        #transforming JSON columns to text columns
        for column in JSONcolumns:
            dataframe[column] =dataframe[column].apply(JSONtoNameList)
        return dataframe

    #Loading movies from file to dataframe
    def Load_movies(FileAddress_movies):
        ##input:  movie dataset location
        ##output: pandas Frame containing information about movies
        #reading raw dataset
        df_movies = pd.read_csv(FileAddress_movies)
        #decaplsulating json, making columns from list keys
        df_movies = Transform_JSONcolumnsDecapsulation(df_movies)
        return df_movies
    
    def Load_credits(FileAddress_credits):
        df_credits = pd.read_csv(FileAddress_credits)
        df_credits = Transform_LoadJSON(df_credits)
        
        credits = pd.DataFrame()
        
        credits['title'] = df_credits[0]['title']
        credits['actors']  = df_credits[0]['cast'].apply(JSONtoNameList)
        credits['actor_gender']  = df_credits[0]['cast'].apply(JSONtoGenderList)          
       
        return credits
    
    #assuring that both dataset exists
    assert InputFilesFound(FileAddress_movies),  "Movies  input file not found"
    assert InputFilesFound(FileAddress_credits), "Credits input file not found"
    
    Credentials = Load_credits(FileAddress_credits)
    Final_dataset=Load_movies(FileAddress_movies)
    
    #returning final dataset
    return Final_dataset,Credentials

In [42]:
#Loading information about movies
Movies,Credentials  = Load_Datasets(FileAddress_movies,FileAddress_credits)

Drops = ['homepage','status','id']
for drop in Drops:
    Movies = Movies.drop(drop, 1)
        
    

Movies.to_csv("../../Datasets/Transformed.csv")
#print(Movies.dtypes)
#read arrays from string using string.split(",")

In [43]:
Credentials

,title,actors,actor_gender
0,Avatar,"Sam Worthington,Zoe Saldana,Sigourney Weaver,S...","2,1,1,2,1,2,2,1,2,2,2,2,2,2,2,2,0,0,2,0,2,0,0,..."
1,Pirates of the Caribbean: At World's End,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel...","2,2,1,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2,0,1,1,2,0,..."
2,Spectre,"Daniel Craig,Christoph Waltz,Léa Seydoux,Ralph...","2,2,1,2,1,2,1,2,2,2,2,0,1,0,1,2,0,2,0,2,2,2,2,..."
3,The Dark Knight Rises,"Christian Bale,Michael Caine,Gary Oldman,Anne ...","2,2,2,1,2,1,2,2,2,1,2,2,2,2,2,0,0,1,2,2,0,0,0,..."
4,John Carter,"Taylor Kitsch,Lynn Collins,Samantha Morton,Wil...","2,1,1,2,2,2,2,2,2,2,1,2,2,2,1,2,0,1,2,2,2,2,2,..."
5,Spider-Man 3,"Tobey Maguire,Kirsten Dunst,James Franco,Thoma...","2,1,2,2,2,1,1,2,2,1,2,2,1,2,1,2,0,2,1,2,2,2,2,..."
6,Tangled,"Zachary Levi,Mandy Moore,Donna Murphy,Ron Perl...","2,1,1,2,2,2,2,0,0,0,2,2,2"
7,Avengers: Age of Ultron,"Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo...","2,2,2,2,1,2,2,2,2,2,1,2,1,2,1,2,1,2,1,2,2,1,2,..."
8,Harry Potter and the Half-Blood Prince,"Daniel Radcliffe,Rupert Grint,Emma Watson,Tom ...","2,2,1,2,2,2,1,2,1,2,2,2,1,2,1,1,2,2,2,2,1,1,2,..."
9,Batman v Superman: Dawn of Justice,"Ben Affleck,Henry Cavill,Gal Gadot,Amy Adams,J...","2,2,1,1,2,1,0,2,1,2,2,1,1,2,1,2,2,2,0,0,2,0,1,..."
10,Superman Returns,"Brandon Routh,Kevin Spacey,Kate Bosworth,James...","2,2,1,2,1,2,0,1,2,2,2,2,0,0,2,1,2,1"
11,Quantum of Solace,"Daniel Craig,Olga Kurylenko,Mathieu Amalric,Ju...","2,1,2,1,2,1,2,2,2,2,2,2,2,0,2,1,1,2,1,1,0,0,0,..."
12,Pirates of the Caribbean: Dead Man's Chest,"Johnny Depp,Orlando Bloom,Keira Knightley,Stel...","2,2,1,2,2,2,2,2,2,2,2,1,2,2,0,2,2,2,0,2,2,2,0,..."
13,The Lone Ranger,"Johnny Depp,Armie Hammer,William Fichtner,Hele...","2,2,2,1,2,2,1,2,2,2,2,2,2,2,2,2,0,2,2,0,0,2,2,..."
14,Man of Steel,"Henry Cavill,Amy Adams,Michael Shannon,Kevin C...","2,1,2,2,1,2,2,1,2,1,2,1,2,2,2,1,2,2,2,1,1,0,0,..."
15,The Chronicles of Narnia: Prince Caspian,"Ben Barnes,William Moseley,Anna Popplewell,Ska...","2,2,1,2,1,2,1,2,2,2,2,2,2,2,2,2,2,2,1,2,1"
16,The Avengers,"Robert Downey Jr.,Chris Evans,Mark Ruffalo,Chr...","2,2,2,2,1,2,2,2,1,2,2,1,2,1,2,2,2,2,2,1,2,1,0,..."
17,Pirates of the Caribbean: On Stranger Tides,"Johnny Depp,Penélope Cruz,Ian McShane,Kevin Mc...","2,1,2,2,2,2,0,2,2,0,2,2,2,0,1,2,2,2,2,2,2,2,2,..."
18,Men in Black 3,"Will Smith,Tommy Lee Jones,Josh Brolin,Michael...","2,2,2,2,1,0,1,1,2,2,2,2,2,2,1,2,2,0"
19,The Hobbit: The Battle of the Five Armies,"Martin Freeman,Ian McKellen,Richard Armitage,K...","2,2,2,2,2,2,2,0,2,2,2,0,0,2,0,2,1,2,1,2,2,2,2,..."
20,The Amazing Spider-Man,"Andrew Garfield,Emma Stone,Rhys Ifans,Denis Le...","2,1,2,2,2,2,2,1,2,2,1,2,1,1,2,2,2,2,2,2,2,2,0,..."
21,Robin Hood,"Russell Crowe,Cate Blanchett,Max von Sydow,Wil...","2,1,2,2,2,2,2,1,2,2,2,2,2,2,1,2,2,0,2,2,0,2,2,..."
22,The Hobbit: The Desolation of Smaug,"Martin Freeman,Ian McKellen,Richard Armitage,K...","2,2,2,2,2,2,2,0,2,2,2,2,2,1,2,2,2,2,2,2,0,0,1,..."
23,The Golden Compass,"Dakota Blue Richards,Nicole Kidman,Daniel Crai...","1,1,2,2,1,2,2,2,2,1,1,2,2,2,0,2,1,2,1,2,0,0,0,..."
24,King Kong,"Naomi Watts,Jack Black,Adrien Brody,Thomas Kre...","1,2,2,2,2,2,2,2,2,2,2,2,0,2,2,0,2,2,2,0,0,0,2,..."
25,Titanic,"Kate Winslet,Leonardo DiCaprio,Frances Fisher,...","1,2,1,2,1,1,2,2,2,2,2,1,0,2,2,2,2,2,2,2,2,2,0,..."
26,Captain America: Civil War,"Chris Evans,Robert Downey Jr.,Scarlett Johanss...","2,2,1,2,2,2,2,2,2,1,2,1,2,2,2,2,2,1,2,1,2,1,2,..."
27,Battleship,"Taylor Kitsch,Alexander Skarsgård,Rihanna,Broo...","2,2,1,1,2,2,2,2,2,2,2,2,2,2,0,0,2,0,0,0,2,2,2,..."
28,Jurassic World,"Chris Pratt,Bryce Dallas Howard,Irrfan Khan,Vi...","2,1,2,2,2,2,2,2,2,1,1,2,1,2,2,2,2,0,0,2,0,1,2,..."
29,Skyfall,"Daniel Craig,Judi Dench,Javier Bardem,Ralph Fi...","2,1,2,2,1,1,0,2,2,2,1,2,0,1,0,1,0,0,2,0,0,0,0,0"
...,...,...,...
4773,Clerks,"Brian O'Halloran,Jeff Anderson,Jason Mewes,Kev...","2,2,2,2,0,0,2,2,0,2,0,0,0,0,0"
4774,Pink Narcissus,"Bobby Kendall,Donald L. Brooks,Charles Ludlam","2,0,0"
4775,Funny Ha Ha,"Kate Dollenmayer,Mark Herlehy,Christian Rudder...","0,0,2,0,0,2,0,0,0,0,0,0,0,2,0"
4776,In the Company of Men,"Aaron Eckhart,Stacy Edwards,Matt Malloy,Michae...","2,1,2,0,0"
4777,Manito,"Franky G,Leo Minaya,Manuel Cabral,Jessica Mora...","0,0,0,0,0,0"
4778,Rampage,"Brendan Fletcher,Shaun Sipos,Michael Paré,Lynd...","2,2,2,1,2,0,2,0,2,1,1,0,0,0"
4779,Slacker,"Richard Linklater,Mark James","2,2"
4780,Dutch Kills,"R.L. Mann,Tama Filianga,Mikaal Bates,Celestine...","0,0,0,1,0"
4781,Dry Spell,"Suzi Lorraine,Jared Degado,Heather Dorff,Racha...","1,0,0,1,0,0"
4782,Flywheel,Alex Kendrick,2
4783,Backmask,"Stephen Lang,Kelly Blatz,Brittany Curran,Gage ...","2,2,1,1,0,0,2,2,0,0,0,0,1,1,0,0,0,2,0,2,1,0"
4784,The Puffy Chair,"Mark Duplass,Katie Aselton,Rhett Wilkins","2,1,0"
4785,Stories of Our Lives,"Louis Brooke,Allan Bryan Weku,Judy Gichohi,Kel...","0,0,0,0,0,0,0,0,0,0,0"
4786,Breaking Upwards,"Zoe Lister-Jones,Daryl Wein,Julie White,Andrea...","1,2,1,1,2,0,2,1,2,1,2,1,2,2,0"
4787,All Superheroes Must Die,"Jason Trost,Lucas Till,James Remar,Sophie Merk...","0,2,2,1,0"
4788,Pink Flamingos,"Divine,David Lochary,Mary Vivian Pearce,Mink S...","2,0,0,1,0,0,0,0,1,0,2"
4789,Clean,"Maggie Cheung,Nick Nolte,Béatrice Dalle,Jeanne...","1,2,1,1,2,1,2,2,2,0"
4790,The Circle,"Nargess Mamizadeh,Maryiam Palvin Almani,Mojgan...","0,0,0,0,0,0,0"
4791,Tin Can Man,"Michael Parle,Emma Eliza Regan,Patrick O'Donne...","0,0,0,0"
4792,Cure,"Koji Yakusho,Masato Hagiwara,Tsuyoshi Ujiki,An...","2,2,0,0,0,2,0,0,0,0,0,0,0,0,0"
4793,On The Downlow,"Tony Sancho,Michael Cortez,Donato Cruz,Felipe ...","0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0"
4794,Sanctuary: Quite a Conundrum,"Sasha Ramos,Erin Cline,Emily Rogers,Anthony Ru...","0,0,0,0,0"
4795,Bang,"Darling Narita,Peter Greene,Michael Newland,Er...","0,2,0,0,0,2,0,2,2,0,2,1,2,0"
4796,Primer,"Shane Carruth,David Sullivan,Casey Gooden,Anan...","2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0"
4797,Cavite,,
4798,El Mariachi,"Carlos Gallardo,Jaime de Hoyos,Peter Marquardt...","2,0,2,0,0,0,2"
4799,Newlyweds,"Edward Burns,Kerry Bishé,Marsha Dietlein,Caitl...","2,1,1,1,0"
4800,"Signed, Sealed, Delivered","Eric Mabius,Kristin Booth,Crystal Lowe,Geoff G...","2,1,1,0,2,1,1"
4801,Shanghai Calling,"Daniel Henney,Eliza Coupe,Bill Paxton,Alan Ruc...","2,1,2,2,0"
4802,My Date with Drew,"Drew Barrymore,Brian Herzlinger,Corey Feldman,...","1,2,2,2,0,2,2,2"